<%- include("header"); -%>

<div class="container">
        <br />
        <h2>Edit Blog</h2>
        <br>

        <div class="row">
                <form action="/articles/edit/<%= article._id %>" method="post" class="form-group row" autocomplete="off">
                        <div class="form-group">
                                <label class="form-label mt-4">Article Image</label>
                                <input type="url" class="form-control" name="image" value="<%= article.image %>">
                        </div>
                        <div class="form-group">
                                <label class="form-label mt-4">Article Title</label>
                                <input type="text" class="form-control" name="title" value="<%= article.title %>">
                        </div>
                        <div class="form-group">
                                <label class="form-label mt-4">Article Author</label>
                                <input type="text" class="form-control" name="author" value="<%= article.author %>">
                        </div>
                        <div class="form-group">
                                <label class="form-label mt-4">Article Body</label>
                                <textarea name="body" class="form-control"><%= article.body %></textarea>
                        </div>

                        <div class="form-group">
                                <br>
                                <button type="submit" class="btn btn-primary">Update Article</button>
                        </div>
                        

                </form>
        </div>
</div>
<!-- <%- include("footer"); -%> -->
</div>